<div class="data-container">

        <div class="logo-image-container">
          <img class="logo-image" [src]="experiencia.img">
        </div>
         
          <div class="wrap-data">
            <div id="title">{{experiencia.puesto}}</div>
            <div id="puesto">{{experiencia.empresa}}</div>
            <div [hidden]= "experiencia.hide" id="time">
              <ul class="responsabilidades">
                <li>{{experiencia.responsabilidades[0]}}</li>
                <li>{{experiencia.responsabilidades[1]}}</li>
                <li>{{experiencia.responsabilidades[2]}}</li>
                <li>{{experiencia.responsabilidades[3]}}</li> 
              </ul>
              <span id="time-expe"><time>{{experiencia.start}}</time></span>
            </div>
          </div>
       
          <div>
            <button (click)="experiencia.hide = !experiencia.hide">
                Más
            </button>
            <button (click)="eliminarExperiencia(experiencia)" id="btn-borrar">
                Borrar
            </button>
          </div>
</div>
     