.wrap-data {
    margin-bottom: 30px;
  }
  
.responsabilidades li{
  list-style: circle;
  font-size: 16px;
}
  .data-container {
      display:grid;
      grid-template-columns:25% 70% 15%;
      margin-bottom: 40px;
  } 
 
.wrap-ultimogrid{
display:grid;
grid-template-rows:80% 20%;
} 

.image-container4{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.logo-image {
	width: 100%;
  height:100%;  
} 
  #title { 
    font-size: 24px;line-height: 26px;  
   
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }
  
  #puesto {
   font-size: 36px;line-height: 38px;
    letter-spacing: -1px;   font-weight: 600;
    font-family: 'Courier New', Courier, monospace; text-align: center;
    font-style: italic;
    
  } 
  #time {
    font-style: italic;
    font-size: 12px;
    color: rgb(110, 108, 108); 
  }
  #time-expe {
   margin-left: 85%;
  }
#btn-borrar{
    opacity:0;
  }
  #btn-borrar:hover{
    opacity:1;
  }
  .data-container div button{
    padding: 5px; 
	background-color: tomato;
	color: white;
	border: 1px solid tomato; 
	font-family: 'Courier New', Courier, monospace; 
  font-size: 14px; font-weight: 600;
border-radius: 50%;
margin-top: 5px;
  }
@media (max-width:820px) {
  .data-container {
   
    grid-template-columns:20% 60% 20%;
} 
     
        #title {
          line-height: 22px;
          font-size:20px;
        }   
        #puesto { font-size:25px;line-height: 25px; letter-spacing: 0.55px;}
    #time {
        font-size: 10px;
    }
    #time-expe {
      margin-left: 80%;
     }

     .wrap-ultimogrid div button{
      padding:1px;    font-size: 10px; font-weight: 600;
    } 
    
  }