.wrap-data {
    margin-bottom: 30px;
  }
  
  .wrap-data p {
    display: inline;
    color: black;
    margin-right: 20px;
  
  }
  .data-container {
      display: flex;
      justify-content: left;
      margin:20px auto;
  }
  
  .items-list  {
    margin: auto;
  }
  #title { 
    font-size: 22px; font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
  }
  
  #puesto {
    font-size: 14px;
    letter-spacing: -1px;
    display: inline; 
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    
  } 
  #time {
    font-style: italic;
    font-size: 12px;
    color: grey;
  }
#btn-borrar{
    opacity:0;
  }
  #btn-borrar:hover{
    opacity:1;
  }
  .data-container div button{
    padding: 0.5px 6px;
	margin-right: 2px;
	background-color: tomato;
	color: white;
	border: 1px solid grey;
	border-radius: 6%;

	display: inline;
	font-family: 'Courier New', Courier, monospace;
	letter-spacing: -1px;
	word-spacing: -4px;
  font-size: 10px; 

  }
@media (max-width:820px) {
 
    .wrap-data {
      margin-bottom: -5px;
        }
      
        .wrap-data p {
          display: block;
      
          margin-right: 0;
        }
  
        #title {
          line-height: 25px;
          font-size:25px;
        }   
        #puesto { font-size:12px; letter-spacing: 0.55px;}
    #time {
      transform: translateY(-12px);
      font-size: 10px;
    }

    .data-container div button{
      margin-bottom: 2px;  
      display: block;  
      transform:translateX(20px); 
      }
  }