<!--<div class="wrap-titulo-new">


    <div class="parallax img-tres" id="proyectos">
        <h2 class="texto-interior">
            Proyectos
        </h2>
    </div>


    <div class="wrap-img-titu">
        <img src="../../../assets/educacion/s1.jpg">
    </div>

</div>-->
<div *ngFor="let proyecto of proyectoList" class="wrapProyectos">
    <div class="data-container">

        <div class="image-container-proyecto">
            <img class="logo-image" [src]="proyecto.img">

        </div>

        <div class="wrap-data">
            <div id="title">{{proyecto.nombre}}</div>
            <button (click)="proyecto.hide = !proyecto.hide">+</button>

        </div>

    </div>

    <div class="data-container2" [hidden]="proyecto.hide">

        <div class="wrap-li-proy">
            <div>
                <h2>Frontend</h2>
                <p>{{proyecto.frontend}}</p>
            </div>
            <div>
                <h2>Backend</h2>
                <p>{{proyecto.backend}}</p>
            </div>
            <div>
                <h2>Base de datos</h2>
                <p>{{proyecto.bd}}</p>
            </div>
        </div>

        <div id="escondido">
            <p class="p-desc-pro">{{proyecto.descripcion}} </p>
            <div class="wrap-links">
                <p class="link-proyecto"><a [href]="proyecto.link" target="_blank">visitar proyecto</a></p>
            </div>
        </div>

    </div>
</div>