@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&family=Montserrat+Alternates:wght@300;400&display=swap');
#card-experiencia {
  border: none;
  width: 80%;
  margin: 0 auto;
}  

 
/*------------------*/
.parte2 {text-align: center;font-family: 'Courier New', Courier, monospace; }

.parte1 img {
  height: 170px;
  width: 60%;
  border: 1px solid blue;
  border-radius: 10px; 
margin:  auto; 
}
.tiriras {display: flex;justify-content: space-around;}
.tiriras div {
  width: 22px;
  background-color: black;
  border: 1px solid blue;
  height: 30px;
} 
/*---------------*/
.wrap-links{
  text-align: center;
  margin-top: 2px;
}
.link-proyecto a {
  text-decoration: none; 
  font-style: italic;

}

.link-proyecto {
  padding:2px 5px; 
 
  background-color: black;
  color: white; 
  border:1px solid blue;
  display: inline;
}

p a:hover {color: tomato;}
 
/*------------------------*/
.p-descripcion {
  line-height: 18px;
  font-size: 18px;
  font-family: sans-serif;text-align: justify;
 
  padding-bottom: 10px;
  border-bottom:1px solid blue;

  width:80%;margin: auto;
}

/*-------------*/ 
.one .titulo {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace; 
  font-size: 26px;
  line-height: 24px;
   
  padding: 10px;
  background-image: url("/assets/fondosTitu/1.jpg");
  background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    position: relative;
  color: white;  
} 

.wrap-li-proy{  
  display: flex; flex-direction: column; 
  color:white;  
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap-li-proy li{  
 padding:2px 0px 0px 5px;   
  width: 70%; 
}
.wrap-li-proy h2{  
  line-height:35px;display:inline;
 }
 .wrap-li-proy p{  
  line-height:15px;
 }
.wrap-li-proy li:nth-child(1){  
  background-color: rgb(250, 137, 137);
  
}
.wrap-li-proy li:nth-child(2){  
  background-color: rgb(175, 175, 250);
}
.wrap-li-proy li:nth-child(3){  
  background-color: rgb(165, 252, 165);
}

.wrap-li-proy li:nth-child(1):hover{  
  background-color: rgb(250, 32, 32); 
  transition:1s ; 
}
.wrap-li-proy li:nth-child(2):hover{  
  background-color: rgb(47, 47, 255);
  transition:1s ; 
}
.wrap-li-proy li:nth-child(3):hover{  
  background-color: rgb(30, 180, 30);
  transition:1s ; 
}
/*---------------*/
@media (max-width:920px) {
  #card-experiencia {width: 100%;} 
 
  .parte1 {margin:  0;} 
  /*----------*/
  .one .titulo {  margin-top:20px;  }
  .wrap-links{ 
    margin-top: 0px;
  }
  .p-descripcion {
    line-height: 18px;
    font-size: 16px;
   width: 92%;
  }
  /*------*/
  .wrap-li-proy li{     
     width: 90%; 
    
   }
}