@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&family=Montserrat+Alternates:wght@300;400&display=swap');
#card-experiencia {
  border: none;
  width: 80%;
  margin: 0 auto;
}  

 .wrap-edu-grid{
display: grid !important;
grid-template-columns: 60% 40%;  

margin-bottom: 15px;
padding: 20px 10px;
    
border:solid 1px black; 
border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
 }
/*------------------*/
.parte2 {
  text-align: center;font-family: 'Courier New', Courier, monospace; 
  
}  
.parte2 img {
  height: 170px;
  width: 60%;
  border: 1px solid blue;
  border-radius: 10px; 
margin:  auto; 
}
.parte3 {
  text-align: center;  
} 
.parte3 img {
  height: 170px;
  width: 70%;
  border: 1px solid black;
  border-radius: 10px; 
margin:  auto; 
}

.tiriras {display: flex;justify-content: space-around;}
.tiriras div {
  width: 22px;
  background-color: black; 
  height: 30px;
} 
/*---------------*/
.wrap-links{
  text-align: center;
  margin-top: 2px;
}
.link-proyecto a {
  text-decoration: none; 
  font-style: italic;

  color: white; 
}

.link-proyecto {
  padding:2px 5px; 
 
  background-color: black; 
  display: inline;
}

p a:hover {color: tomato;}
 
/*------------------------*/
.p-descripcion {
  line-height:20px;
  font-size: 18px;
  font-family: sans-serif;text-align: justify;
  margin:10px auto 10px auto; padding:5px 8px; 
}

/*-------------*/ 
.one  {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace; 
  font-size: 26px;
  line-height: 24px;
   
  padding: 10px;margin: 0 0 0 0;
 background-color: black;color:white;
} 

.wrap-li-proy{  
  display: flex; flex-direction: column; 
  color:white;  
  position: relative;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.wrap-li-proy li{  
 padding:2px 0px 0px 5px;   
  width: 70%; 
}
.wrap-li-proy h2{  
  line-height:35px;display:inline;
 }
 .wrap-li-proy p{  
  line-height:15px;
 }
.wrap-li-proy li:nth-child(1){  
  background-color: rgb(250, 137, 137);
  
}
.wrap-li-proy li:nth-child(2){  
  background-color: rgb(175, 175, 250);
}
.wrap-li-proy li:nth-child(3){  
  background-color: rgb(165, 252, 165);
}

.wrap-li-proy li:nth-child(1):hover{  
  background-color: rgb(250, 32, 32); 
  transition:1s ; 
}
.wrap-li-proy li:nth-child(2):hover{  
  background-color: rgb(47, 47, 255);
  transition:1s ; 
}
.wrap-li-proy li:nth-child(3):hover{  
  background-color: rgb(30, 180, 30);
  transition:1s ; 
}
/*---------------*/
@media (max-width:920px) {
  #card-experiencia {width: 100%;} 
 
  .parte1 {margin:  0;   border-right: none;}
 
  /*----------*/
  .one{ margin: 0 0 0 0;}

  .wrap-links{ 
    margin-top: 0px;
  }
  
  .p-descripcion {
    line-height: 18px;
    font-size: 16px; 
   margin:10px auto 10px auto;
  }
  /*------*/
  .wrap-li-proy li{width: 90%;}
  .wrap-li-proy {left: 50%;}
  .wrap-edu-grid{ 
    grid-template-columns:1fr; 
     }
}