<div class="wrap-crud">
    <div>
    
        <form (submit)= "agregarExperiencia(newEmpresa,newPuesto,newImg,newStart,newEnd)">
         
            <div class="form-group">
            <input type="text" placeholder="Agregar empresa" class="form-control" #newEmpresa>
            </div>
            <div class="form-group">
            <input type="text" placeholder="Agregar puesto" class="form-control" #newPuesto>
            </div>
            <div class="form-group">
            <input type="text" placeholder="Agregar img" class="form-control" #newImg>
            </div>
            <div class="form-group">
            <input type="text" placeholder="Agregar" class="form-control" #newStart>
            </div>
            <div class="form-group">
            <input type="text" placeholder="Agregar " class="form-control" #newEnd>
            </div>

            <button class="btn btn-primary">Agregar</button>

        </form>  
    </div> 

    <div>
      GESTIÓN EXPERIENCIA
    </div>

</div>
