@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,700;1,400&family=Montserrat+Subrayada&display=swap');
.wrap-header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: #438797;*/
    color: white;
    background-image: url("/assets/fondosTitu/1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.wrap-header .social-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wrap-header .social-buttons a {
    display: inline-flex;
    text-decoration: none;
    width: 14px;
    height: 14px;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 21px 0 0;
    font-size: 25px;
}

.wrap-header .social-buttons a::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: linear-gradient(45deg, #22a6b3, #30336b);
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s ease-in;
}

.wrap-header .social-buttons a:hover::before {
    transform: scale(0);
}

.wrap-header .social-buttons a i {
    transition: 0.3s ease-in;
}

.wrap-header .social-buttons a:hover i {
    background: linear-gradient(45deg, tomato, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.7);
}

.wrapLogos {
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin-left: 10px;
    margin-top: 10px;
}

.wrapLogos p {
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 50px;
    padding-left: 2px;
}

.wrapLogos p a {
    text-decoration: none;
    color: white;
}

.wrap-milogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoAP {
    width: 120px;
}

#logoAP2 {
    width: 22px;
    height: 22px;
    margin-left: -8px;
}

#logoAP3 {
    width: 21;
    height: 21px;
    margin-left: -6px;
    margin-bottom: 2px;
}

#logoAP1 {
    width: 50px;
    height: 50px;
}


/*-------HEADER FOTO----------*/

#first-card {
    height: 90vh;
    margin: 0 auto;
    background-image: url("/assets/fondosTitu/1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parallax2 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-area {
    position: relative;
}

.img-wrapper {
    height: 470px;
    position: relative;
    overflow: hidden;
}

.img-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 180%;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .3);
    z-index: 1;
    transform: skew(45deg);
    transition: .5s;
}

.img-wrapper:hover:before {
    left: -180%;
}

.img-wrapper img {
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    transition: 2s;
}

.img-wrapper:hover img {
    filter: grayscale(0%);
    transform: scale(1.2);
}

.img-wrapper h2 {
    background-color: black;
    color: black;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat Subrayada', sans-serif;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: perspective(400px) rotateY(90deg);
    transform-origin: right;
    transition: 1s;
}

#info {
    display: flex;
    flex-direction: column;
    z-index: 111;
    color: gold;
}

#info-img img {
    border-radius: 50%;
    width: 282px;
    height: 272px;
    margin-top: -165px;
    margin-left: 20px;
}

.wrap-infomia {
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    grid-template-rows: 65px 42px 36px 14px;
    color: white;
}

.info-profesion {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 65px;
    line-height: 65px;
    color: black;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white;
}

.info-origen {
    font-style: italic;
    font-size: 42px;
    line-height: 42px;
}

.info-contacto {
    font-size: 36px;
    line-height: 36px;
}

#info-actions {
    position: relative;
    top: 120px;
}

#info-actions button {
    padding: 0.5px 6px;
    background-color: black;
    border: 0.1px solid black;
    border-radius: 6%;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -1px;
    word-spacing: -4px;
}

#info-actions button a {
    text-decoration: none;
    color: white;
}

.img-wrapper:hover h2 {
    transform: perspective(400px) rotateY(0deg);
}


/*-------------*/

.img-wrapper ul {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgba(255, 255, 255, 0);
}

.img-wrapper ul li {
    background-color: black;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    transform: perspective(800px) rotateY(90deg);
    transition: .5s;
    transform-origin: left;
}

.img-wrapper:hover ul li {
    transform: perspective(800px) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1) {
    transition-delay: .2s;
}

.img-wrapper:hover ul li:nth-child(2) {
    transition-delay: .6s;
}

.img-wrapper:hover ul li:nth-child(3) {
    transition-delay: .8s;
}

.img-wrapper:hover ul li:nth-child(4) {
    transition-delay: 1s;
}

.img-wrapper ul li i {
    color: white;
    transform: scale(2);
}

.img-wrapper ul li i:hover {
    color: red;
}


/*--------Text animation-----------*/

.wrap-nombre {
    display: flex;
    justify-content: center;
}

.nombre-completo {
    position: absolute;
    z-index: 111;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 90px;
    line-height: 100px;
    color: black;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white;
    top: 10%;
}

.wrap-animated {
    z-index: 111;
    position: relative;
    top: 100px;
    left: 40px;
}

.animated-text {
    height: 50px;
    overflow: hidden;
}

.line a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    color: black;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white;
    font-family: 'Courier New', Courier, monospace;
}

.line:first-child {
    animation: anim 12s infinite;
}

@keyframes anim {
    0% {
        margin-top: 0;
    }
    16% {
        margin-top: -50px;
    }
    33% {
        margin-top: -100px;
    }
    50% {
        margin-top: -150px;
    }
    66% {
        margin-top: -100px;
    }
    82% {
        margin-top: -50px;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes anim2 {
    0% {
        margin-top: 0;
    }
    16% {
        margin-top: -60px;
    }
    33% {
        margin-top: -120px;
    }
    50% {
        margin-top: -180px;
    }
    66% {
        margin-top: -120px;
    }
    82% {
        margin-top: -60px;
    }
    100% {
        margin-top: 0;
    }
}


/*Modal*/

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog>div {
    max-width: 700px;
    width: 100%;
    position: relative;
    margin: 2% auto;
    padding: 20px;
    border-radius: 3px;
    background: #fff;
    border: solid 3.5px black;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    /*background: url('../../../assets/exp/12.webp');*/
}

.close {
    font-family: Arial, Helvetica, sans-serif;
    background: #f26d7d;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 34px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    padding-top: 5px;
}

.close:hover {
    background: #fa3f6f;
}


/*----------------*/

h3 {
    font-family: 'Courier New', Courier, monospace;
}

.containerpeli {
    background: #fff;
    font-family: 'Courier New', Courier, monospace;
    height: 450px;
}

.containerpeli .header {
    width: 100%;
    background: tomato;
    height: 40px;
    display: inline-block;
}

.header h1 {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    margin: 0 20px;
}

.containerpeli ul li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

ul li img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    opacity: 0;
}

ul li h1 {
    margin-left: 70px;
    margin-top: -50px;
    font-size: 17px;
    font-weight: 550;
    letter-spacing: -1px;
}

ul li p {
    margin-left: 70px;
    margin-top: 0px;
    letter-spacing: -1px;
    line-height: 15px;
}

ul li:hover {
    background: gray;
}


/*------------*/

.uniqUL {
    background: coral;
    width: 300px;
}


/*------------------*/

.wrap-infomia-gral {
    display: grid;
    grid-template-columns: 20% 40% 25% 15%;
}

@media (max-width:930px) {
    #first-card {
        height: 85vh;
        margin: 0;
    }
    .wrap-infomia {
        color: white;
        margin-left: 10px;
        grid-template-rows: 40px 25px 15px 15px;
        position: relative;
        z-index: 1111;
        margin-left: auto;
    }
    .info-profesion {
        font-size: 40px;
        line-height: 40px;
    }
    .info-origen {
        text-shadow: none;
        font-size: 25px;
        line-height: 25px;
    }
    .info-contacto {
        font-size: 15px;
        line-height: 15px;
    }
    #info-actions button {
        font-size: 12px;
    }
    /*----------------*/
    .img-wrapper:hover h2 {
        transform: perspective(400px) rotateY(0deg);
    }
    .img-wrapper h2 {
        text-align: right;
        font-size: 18px;
    }
    .img-wrapper h2 span {
        padding-right: 10px;
    }
    /*---------*/
    .nombre-completo {
        font-size: 62px;
        line-height: 62px;
    }
    .line a {
        font-size: 40px;
        line-height: 60px;
    }
    .wrap-animated {
        display: none;
    }
    .animated-text {
        height: 50px;
    }
    .line:first-child {
        animation: anim2 12s infinite;
    }
    /*------------*/
    .wrap-header .social-buttons a {
        margin: 0 7px 0 0;
        font-size: 15px;
    }
    .wrap-header {
        height: 8vh;
    }
    /*--------*/
    #info-actions {
        padding-right: 5px;
    }
    /*--------*/
    .containerpeli {
        height: 400px;
    }
    .wrapLogos p {
        font-size: 13px;
        margin-left: 5px;
        margin-right: 0px;
        text-transform: uppercase;
    }
    .wrapLogos {
        margin-left: 0px;
    }
    /*--------*/
    #info-img img {
        border-radius: 50%;
        width: 180px;
        height: 180px;
        margin-top: -125px;
        margin-left: 16px;
    }
    /*---------*/
    .wrap-infomia-gral {
        display: grid;
        grid-template-columns: 20% 80%;
    }
    .wrap-nombre {
        text-align: center;
    }
}