<div class="wrap-header" id="arriba">

    <div class="wrapLogos">

        <p> <a href="https://portfolioromerofullstack.netlify.app/portfolio#educacion">Educación</a> </p>
        <p> <a href="https://portfolioromerofullstack.netlify.app/portfolio#experiencia">Experiencia</a></p>
        <p> <a href="https://portfolioromerofullstack.netlify.app/portfolio#proyectos">Proyectos</a></p>
        <p> <a href="https://portfolioromerofullstack.netlify.app/portfolio#idiomas">Skills</a></p>

    </div>

    <div class="social-buttons">
        <a href="https://github.com/CristianDario89" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.quora.com/profile/Cristian-Dario-1" target="_blank"><i class="fa-brands fa-quora"></i></a>
        <a href="https://www.youtube.com/channel/UC1M6gYJvTcHDlfnGRsUSOUQ" target="_blank"><i
          class="fab fa-youtube"></i></a>
        <a href="https://stackoverflow.com/users/15009429/cristiano10" target="_blank"><i
          class="fa-brands fa-stack-overflow"></i></a>
    </div>
</div>

<div id="first-card">
    <div class="wrap-nombre">
        <p>
            Cristian Romero
        </p>
    </div>

    <div class="image-area">

        <div class="img-wrapper">

            <img src="../../../assets/fondo11.jpg" alt="">

            <h2><span>Programador</span></h2>

            <ul>
                <li><i class="fab fa-js"></i></li>
                <li><i class="fa-brands fa-css3-alt"></i></li>
                <li><i class="fa-brands fa-angular"></i></li>
                <li><i class="fa-brands fa-node"></i></li>
            </ul>

        </div>

    </div>

    <div class="wrap-infomia-gral">

        <div id="info">

            <img src="../../../assets/img/p1.jpg">

        </div>

        <div class="wrap-infomia">

            <p class="info-profesion">Full stack</p>
            <p class="info-origen"> Buenos Aires, Argentina </p>

            <p class="info-contacto">ccristiandarioromero@gmail.com</p>

        </div>

        <div class="wrap-animated">
            <div class="animated-text">
                <div class="line"><a href="https://portfolioromerofullstack.netlify.app/portfolio#proyectos">Proyectos</a></div>
                <div class="line"> <a href="https://portfolioromerofullstack.netlify.app/portfolio#educacion">8 Títulos </a></div>
                <div class="line"> <a href="https://portfolioromerofullstack.netlify.app/portfolio#experiencia">Experiencia</a></div>
                <div class="line"><a href="https://portfolioromerofullstack.netlify.app/portfolio#idiomas">3 Idiomas</a></div>
            </div>

            <div id="info-actions">
                <button>
                <a href="portfolio#openModal-about">Tengo interés en</a>
                </button>

                <div id="openModal-about" class="modalDialog">
                    <a href="portfolio#close" title="Close" class="close green">X</a>
                    <div class="containerpeli">
                        <div class="header">
                            <h1>Familia</h1>
                        </div>
                        <ul>
                            <li>
                                <a>
                                    <img src="https://i.ibb.co/jJRcvRr/bandmember.jpg" alt="bandmember">
                                    <h1>Ahijado</h1>
                                    <p>Brian</p>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="https://i.ibb.co/rdxdK9M/avatar-smoke.jpg" alt="avatar-smoke">
                                    <h1>Sobrina</h1>
                                    <p>Briana</p>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="https://i.ibb.co/JkY8b8V/workshop.jpg" alt="workshop" border="0">
                                    <h1>Hermana</h1>
                                    <p>Bianka</p>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="https://i.ibb.co/L9s6bvj/Bob-s-Hi-Way-Service-Garage-Club-Ed.jpg" alt="Bob-s-Hi-Way-Service-Garage-Club-Ed">
                                    <h1>Ella</h1>
                                    <p>Florencia</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="containerpeli">
                        <div class="header">
                            <h1>Musica</h1>
                        </div>
                        <ul>
                            <li>
                                <a>
                                    <img src="https://i.ibb.co/jJRcvRr/bandmember.jpg" alt="bandmember">
                                    <h1>Acustica</h1>
                                    <p>Lorena McKennit, Enya, Indila</p>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="https://i.ibb.co/rdxdK9M/avatar-smoke.jpg" alt="avatar-smoke">
                                    <h1>Alegre</h1>
                                    <p>Pop, Dance, Reggaeton</p>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="https://i.ibb.co/JkY8b8V/workshop.jpg" alt="workshop" border="0">
                                    <h1>Rock Nacional</h1>
                                    <p>Los redondos</p>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="https://i.ibb.co/L9s6bvj/Bob-s-Hi-Way-Service-Garage-Club-Ed.jpg" alt="Bob-s-Hi-Way-Service-Garage-Club-Ed">
                                    <h1>Rock internacional</h1>
                                    <p>AC DC, Aerosmith, Rolling Stones</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="containerpeli">
                        <div class="header">
                            <h1>Hobbies</h1>
                        </div>
                        <ul>
                            <li>
                                <a>
                                    <img src="https://i.ibb.co/jJRcvRr/bandmember.jpg" alt="bandmember">
                                    <h1>Andar en moto</h1>
                                    <p>Trasladarse en moto me ahorra mucho tiempo</p>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="https://i.ibb.co/rdxdK9M/avatar-smoke.jpg" alt="avatar-smoke">
                                    <h1>Programación web </h1>
                                    <p>Diseñar y diserrollar sitios web</p>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="https://i.ibb.co/JkY8b8V/workshop.jpg" alt="workshop" border="0">
                                    <h1>Pasar tiempo con mis sobrinos</h1>
                                    <p>Salir a pasear, ayudarlo con la tarea</p>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="https://i.ibb.co/L9s6bvj/Bob-s-Hi-Way-Service-Garage-Club-Ed.jpg" alt="Bob-s-Hi-Way-Service-Garage-Club-Ed">
                                    <h1>Videojuegos</h1>
                                    <p>CS-go, Free fire, virtual-tennis, PES, CoD</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="containerpeli">
                        <div class="header">
                            <h1>Me gustaria aprender</h1>
                        </div>
                        <ul>
                            <li>
                                <a>
                                    <img src="https://i.ibb.co/jJRcvRr/bandmember.jpg" alt="bandmember">
                                    <h1>Three js</h1>
                                    <p>Efectos 3d en sitios web</p>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="https://i.ibb.co/rdxdK9M/avatar-smoke.jpg" alt="avatar-smoke">
                                    <h1>Docker</h1>
                                    <p>Automatizar el despliegue de apps</p>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="https://i.ibb.co/JkY8b8V/workshop.jpg" alt="workshop" border="0">
                                    <h1>Problem solving advancing</h1>
                                    <p>Dominar estructura de datos en js</p>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="https://i.ibb.co/L9s6bvj/Bob-s-Hi-Way-Service-Garage-Club-Ed.jpg" alt="Bob-s-Hi-Way-Service-Garage-Club-Ed">
                                    <h1>Cocinar</h1>
                                    <p>Hacer comidas ricas en pcoco tiempo</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

                <button><a href="https://portfolioromerofullstack.netlify.app/portfolio#acercade">Más</a></button>

            </div>
        </div>


    </div>



</div>