  /*--------------footer----------*/
  #card-skills {
    border: none;
    width: 82%;
    margin: 0 auto 2px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
h1{text-align:center;}
  .wrap-footer {
    background-image: url("/assets/fondosTitu/1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      position: relative;
    color: white;
  }

  footer {
    font-size: 14px;
    text-align: center;
    /* box-shadow:2px -2px 5px #59A9B5;*/
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
  }

  footer p {
    line-height: 7px;
  text-shadow: -1px -1px 1px black;
  }

  .p1-footer {
    padding-top: 14px;
  }

  /*--------------*/
  .marco{
    display:grid;
    grid-template-columns: 70% 30%;
    border:solid red 1px;
    margin:5px; 
  }
  .wrap-skilazos { 
    text-align: center;
   display: flex;flex-direction: column;
 
  } 

  /*-----Botones para manipular------*/
 
  .wrap-btns {
    display: flex;
    position: relative;
    right: 5px;
  }

  
 h4{ 
    padding: 4px 12px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: rgb(11, 2, 66);
    display: inline;
  }
/*---------------*/
@media (max-width:920px) {
  #card-skills {   width:95%;  grid-template-columns:1fr;
   
  }   
  .wrap-footer {
    color: white; 
   }
  footer p {
    line-height: 7px; 
  }
}