  /*--------------footer----------*/
  #card-skills {
    border: none;
    width: 82%;
    margin: 0 auto 2px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
h1{text-align:center;margin-bottom: 20px;}
 
  /*--------------*/
  .marco{
    display:grid;
    grid-template-columns:30% 70%; 
    margin:2px; padding:0 10px;
    
 border:solid 2px black; 
 border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

  }
  .wrap-skilazos { 
    text-align: center;
   display: flex;flex-direction: column;
 
  }
   
.marco ul li{ 
   padding:4px 4px; font-size: 14px;line-height:16px;
}

.marco ul li:nth-child(2n){ 
 background-color: rgb(95, 92, 92);color: white;
}
  /*-----Botones para manipular------*/
 
  .wrap-btns {
    display: flex;
    position: relative;
    right: 5px;
  }

  
 h4{ 
    padding: 4px 12px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: rgb(11, 2, 66);
    display: inline;
  } 
/*---------------*/
@media (max-width:920px) {
  #card-skills {   width:95%;  grid-template-columns:1fr;
   
  }   
  .wrap-footer {
    color: white; 
   }
  footer p {
    line-height: 7px; 
  }
}