 <ul class="items-list">
     <li class="data-container">
     
        
         <div class="logo-image-container">
           <img class="logo-image" [src]= "educacion.img">
         </div>
  
          <div class="wrap-data">
             <p id="institucion">{{ educacion.institucion }}</p>
             <p id="title">{{educacion.title}}</p>
             <p [hidden]= "educacion.hide" id="time"><time>{{educacion.start}}</time> - <time>{{educacion.end}}</time></p>
          </div>
          <div>
            <button (click)="educacion.hide = !educacion.hide">
                Más
            </button>
            <button (click)="eliminarEducacion(educacion)" id="btn-borrar">
                Borrar
            </button>
          </div>
         
     </li>
   </ul>
