.wrap{
  background: #020202;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  display: flex;justify-content: center; 
}
div#MainLogin {
  border-radius: 4px;
  box-shadow: -5px 4px 1px #fff;
  overflow: hidden;
  width: 515px;
  place-items: center;
  margin: auto;
  text-align: center;
  display: grid;
  background: linear-gradient(45deg, #22a6b3, #30336b);
  padding: 15px 5px;
   
  transform: skew(0deg, -3deg);
  padding-bottom: 65px;
  transition: transform 0.4s;
}

div#MainLogin:hover{
transform:skew(0deg, 0deg);
}

.OuterLogin input {
  display: block;
  text-align: left;
  border: 2px solid tomato;
  margin: 9px 0px;
  border-radius: 4px;
  width: 100%;
  padding: 10px 0px;
}


.OuterLogin {
  text-align: left;
}

.TopLogin p { 
  font-size: 40px;
  color: white;
}

.OuterLogin label {
  
  color: azure;
  font-size: 19px;
}
input#sb {
  margin: auto;
  margin-top: 14px;
  cursor: pointer;
  background: tomato;
  outline: none;
  border: none;
  border-radius: 31px;
  color: #ffffff;
  font-size: 18px; 
  padding: 11px 124px;
}
/*--------------*/
.OuterLogin form button{
  padding: 1.5px 16px;
	margin-right: 2px;
	background-color: tomato;
	color: white;
	border: 1px solid grey;
	border-radius: 6%;

	display: inline;
	
	letter-spacing: -1px;
	word-spacing: -4px;
}