<div class="wrap-titulo-new">

    <div class="parallax img-tres" id="educacion">
        <h2 class="texto-interior">
            Educación
        </h2>
    </div>


    <div class="wrap-img-titu">
        <img src="../../../assets/educacion/cole.jpg">
    </div>
</div>

<div class="wrapEduc">
    <div class="data-container-edu" *ngFor="let educacion2 of edu2">

        <div class="gallery-image">
            <div class="img-box">
                <img [src]="educacion2.credencial" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>
                            <a [href]="educacion2.linkCredencial" target="_blank" id="link-titulo">
                  ver credencial
                </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrap-data-educacion" (click)="educacion2.hide = !educacion2.hide">
            <div id="title">{{educacion2.title}}</div>
            <div id="institucion">{{ educacion2.institucion }}</div>
            <div [hidden]="educacion2.hide" id="time"><time>{{educacion2.start}}</time> - <time>{{educacion2.end}}</time></div>



        </div>


    </div>
</div>