#card-educacion {
    width: 70%;
    margin: 0 auto;
}


/*-------------------*/

.caption p a {
    padding: 2px 8px;
}

.card-titles button {
    color: tomato;
}


/*-------------------*/

@media (max-width:820px) {
    #card-educacion {
        margin: 0;
        width: 100%;
    }
}