<div class="wrap-crud">
  <div>
  
      <form (submit)= "agregarEducacion(newInsitucion,newTitulo,newImg,newCredencial,newInicio,newFin,newLinkCredencial)">
       
      <div class="form-group">
        <input type="text" placeholder="institucion" class="form-control" #newInsitucion >
      </div>
      <div class="form-group">
        <input type="text"  placeholder="title" class="form-control" #newTitulo>
      </div>
      <div class="form-group">
        <input type="text" placeholder="./assets/img/su iconImg" class="form-control" #newImg >
      </div>
      <div class="form-group">
        <input type="text" placeholder="./assets/img/su credencialImg" class="form-control" #newCredencial >
      </div>
      <div class="form-group">
        <input type="text" placeholder="./assets/img/ su link de credencial" class="form-control" #newLinkCredencial >
      </div>
      <div class="form-group">
        <input type="text" placeholder="Agregar" class="form-control" #newInicio>
      </div>
      <div class="form-group">
        <input type="text"  placeholder="Agregar " class="form-control" #newFin>
      </div>
  
      <button class="btn btn-primary">Agregar</button>
      </form>  
  
  </div>
  
  <div>
      GESTIÓN EDUCACIÓN
  </div>
  
</div>  
