<app-encabezado>
</app-encabezado>
<div class="wrap-portfolio">
    <app-acercade></app-acercade>
    <app-educacion></app-educacion>
    <app-skills></app-skills>
    <app-experiencia></app-experiencia>
    <app-proyecto></app-proyecto>

</div>

<div class="wrap-footer">
    <footer>
        <p class="p1-footer">Romero Cristian Darío | 1159665917</p>
        <p class="p2-footer">Buenos Aires, 2022</p>
    </footer>
</div>
<a class="gotopbtn" href="https://portfolioromerofullstack.netlify.app/portfolio#arriba"> <i class="fas fa-arrow-up"></i> </a>