<div class="row wrap-titulo">
  
    <div class="col-lg-8">
      <div class="parallax img-tres" id="acercade">
        <h2 class="texto-interior">
         Acerca de 
        </h2>
      </div>
    </div>
  
    <div class="col-lg-4 wrap-img">
      <img  src="../../../assets/fede.jpg">
    </div>
  
</div>
<div class="card mat-card" id="card-acercade">
 
    <div>
    
        <p>Creador de software entusiasta y creativo con habilidades prácticas en una 
            amplia gama de herramientas y lenguajes de programación y capaz de administrar 
            bases de datos.
            Con seis años de experiencia en la codificación
            eficiente de sitios web y aplicaciones utilizando HTML, CSS, JS y frameworks demuestran mis
            habilidades para crear soluciones tecnológicas personalizadas de alta calidad que mejoran
            la experiencia del cliente e impulsan el crecimiento del negocio.</p>
        <!-- <p>Programador full stack jr, trilingue, sobresaliente jugador de truco, fútbol, ping-pong, PES, y gran conductor de motos</p>  -->
    </div>

    <input type="text" id="edit-acercade" oninput="myFunction2(this.value)" style="display:none">

</div>
